# OS
Thumbs.db
*.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/

# Env/Secrets
.env
.env.*
ENVIRONMENT
ENVIRONMENT.*
*.pem
*.key

# Archives
*.zip
*.tar
*.tar.gz

# Ignore nested extracted repo folder
learnaix-h-2025-tech-titans-main/

# Logs
*.log
*.out
*.err

# Editor
.idea/
.vscode/


